<section class="hero text-center">
    <h1 class="display-4">Soy Orlando Hernández</h1>

    <h2>Soy un desarrollador fullstack especializado en tecnologías .NET y Javascript.</h2>

    <img src="~/images/foto.svg" alt="foto del desarrollador" class="hero__img mt-5" />
</section>

<section class="aboutMe row justify-content-center text-center bg-primary mt-4">
    <div class="aboutMe__content col col-md-7">
        <h1>Te doy la bienvenida a mi portafolio</h1>

        <p>
            He estado desarrollando software profesionalmente desde el 2021. He tenido el privilegio de trabajar
            para dos empresas donde tuve la oportunidad de realizar proyectos de digitalización para los procesos de distintos
            departamentos, etc.

            Utilizando las siguientes herramientas tecnológicas: C#/ASP.NET, SQL Server, Entity Framework,
            Javascript, etc.
        </p>
    </div>
</section>