@model IEnumerable<ProjectsViewModel>

@if (Model != null)
{
    <div class="text-center" style="padding-top: 6rem;">
        <h1>Mis trabajos recientes</h1>
        <p>Aquí puedes ver algunos de mis trabajos más recientes.</p>
    </div>

    <partial name="_ListProjects" model="Model" />
}