<section class="skills row justify-content-md-center text-center">

    <div class="skills__contentLeft col-3 bg-white">
        <i class="skills__icon bi bi-hdd-fill"></i>
        <h3>Back-End</h3>

        <p>
            Trabajo desde el desarrollo, pruebas automáticas y puesta en producción con entrega continua.
        </p>

        <p class="text-primary ">
            Stack:
        </p>

        <p>
            ASP .NET Core, SQL Server
        </p>

        <p class="text-primary ">
            Experiencia:
        </p>

        <ul class="skills__list">
            <li>Web APIs</li>
            <li>ASP .NET Core MVC</li>
            <li>Entity Framework</li>
            <li>Principios SOLID</li>
        </ul>


    </div>

    <div class="skills__contentRight col-3 bg-white">
        <i class="skills__icon bi bi-code-slash"></i>
        <h3>Front-End</h3>

        <p>
            Puedo crear front-ends robutos los cuales cumplen con los requerimientos del negocio.
        </p>

        <p class="text-primary ">
            Stack:
        </p>

        <p>
            Vue js, Angular
        </p>

        <p class="text-primary ">
            Experiencia:
        </p>

        <ul class="skills__list">
            <li>Markdown</li>
            <li>Pruebas automáticas</li>
            <li>JQuery</li>
        </ul>

    </div>
</section>