
@{
	ViewData["title"] = "Contactame";
}

<h1>Formulario de Contacto</h1>

<form asp-controller="Home" asp-action="Contact">
	<div class="mb-3">
		<label for="name" class="form-label">Nombre </label>
		<input type="text" class="form-control" id="name" name="name" placeholder="E.g, Joe" />
	</div>

	<div class="mb-3">
		<label for="email" class="form-label">Email </label>
		<input type="text" class="form-control" id="email" name="email" placeholder="nombre@ejemplo.com" />
	</div>

	<div class="mb-3">
		<label for="message" class="form-label">Mensaje </label>
		<textarea class="form-control" id="message" name="message" rows="3"></textarea>
	</div>

	<button type="submit" class="btn btn-primary">Enviar</button>
</form>
