@model IEnumerable<ProjectsViewModel>

@{
	ViewData["title"] = "Proyectos";
}

<div class="container">
	<h1>Mis proyectos</h1>
	<p>Aquí encontraras todos los proyectos en los que he trabajado.</p>
</div>

<partial name="_ListProjects" model="Model" />